* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f8ff;
}

.form-agregar {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    background: #f0f8ff;
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.form-agregar h1 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.edit {
    width: 100%;
    background: #b0e0e6;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    border: 1px solid #5f9ea0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #333;
}

.form-agregar .button {
    border: none;
    padding: 10px 20px;
    color: #fff;
    background: #4682b4;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.form-agregar #editar {
    display: none;
}

/* Tablas de registro */

.container {
    margin: 50px;
    border: solid 2px #b0e0e6;
    display: grid;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

table {
    color: #333;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: #4682b4;
}

th {
    padding: 15px 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

td {
    padding: 10px;
    border-bottom: solid 2px #5f9ea0;
    font-size: 25px;
}

table td {
    text-align: center;
}

*/ table tr td:hover {
    background: #333;
    color: #fff;
}

.btn-update,
.btn-delete {
    background: #4682b4;
    background-image: linear-gradient(to bottom, #4682b4, #5f9ea0);
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 3px #000000;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
}

button a {
    text-decoration: none;
    color: #fff;
}